*{
  background-color: white;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  cursor:pointer;
}

a:hover{
  color:green;
}
.homebox{
  /* background-color: green; */
  background-color:white;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  text-align: center;
  margin: 100px auto;
  border-radius: 25px;
  /* border: 2px solid black; */
  padding:5%;
  /* padding-top: 0%; */
  /* color:white; */
  color:black;
  /* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */
  /* box-shadow: #9595f6 0px 8px 24px, #9595f6 0px 16px 56px, #9595f6 0px 24px 80px; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
/* 
.dot{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  float:left;
  margin-bottom: 5%;
  
} */

.inputNAME{
    color: #666;
    /* display: block; */
    /* width: 70%; */
    background: #e6e6e6;
    /* cursor:text; */
    height: 30%;
    border:white;
    border-radius: 25px;
    padding: 10px 30px 10px 68px;
}
.inputNAME:hover{
  background: #bab8b8;

}

.btnJOIN{
  margin: 5%;
  border-radius:25px;
  padding: 5%;
  border:none;
  background-color: cadetblue;
  cursor:pointer;
}
  .btnJOIN:hover{
    background-color: rgb(132, 218, 221);
  }
  .btnJOIN:active{
    background-color: aqua;
  }


/* ---------------GAME--------------------- */
main{
  display: flex;
  flex-direction: row;
  width: 100%;

}

.box{
  /* background-color: green; */
  
  background-color:white;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  height: 60%;
  text-align: center;
  margin: 70px auto;
  border-radius: 25px;
  padding:5%;
  color:black;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.pointsbox{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

/* --------------- */
.game-header{
  /* background-color: #666; */
  display:flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid #666;
  /* color:white; */
}
  #logedUser {
    color:#666;
    position:right;
    width: 30%;
    margin-left: 10%;
    /* height: 10%; */
    padding: auto;
  }
  #logedUser>span{
    /* margin: 15%;
    margin-top: 15px; */
    font-weight: bold;
    margin-left: 2%;
    position:fixed;
  }

  #logOut, #logOut>a{
    /* color: white;
    background-color: #666; */
    color:#666;
    position:center;    
    margin-right: 10%;
    padding: auto;
    cursor: pointer;
    text-decoration: none;
  }
  
  svg{
   
    font-size: 2em;
  }

/* --------game-body----------- */
 .game-body{
  display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
 }
/* ----------btnCLick----- */
  .btnClick{
    color: #1cc49d;
    background-color: #1b2f31;
    /* border-radius: 30px; */
    border-radius: 10px;

    align-items: center;
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    padding: 3%;
    /* height: 3em; */
    width: 50%;
    font-size: large;
    cursor:pointer;
    margin: 1%;
  }

  .btnClick:hover{
    background-color: #616869;

  }


  /* .logout{
    color:white;
  } */
/* ----------btnGame----- */

  .btnAutocliker{
    background-color: #009879;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    cursor:pointer;

  }
    .btnAutocliker:hover{
      background-color: #015b49;
    }



  /* ------------------------------------------------------ */
  /* -------RANKING TABLE---------------------- */

  .latestRanking{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
  }
  .topRanking{
    /* padding: 1px; */
    text-align:center;
  }
  .rank-table{
    border-collapse: collapse;
    /* margin: 100px 0; */
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

    .top-rank-table{
      background-color: #009879;
      color: #000;
      text-align: center;
    }

    .top-rank-table>tr>th{
      background-color: #009879;
      color: #000;
      text-align: center;
    }

    .rank-table th,
    .rank-table td {
        padding: 12px 15px;
    }

    .rank-table tbody tr {
      border-bottom: 1px solid #dddddd;
    }
    
    .rank-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    
    .rank-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .rank-table tbody tr.active-user-row {
      font-weight: bold;
      color: #009879;
  }
  /* ------------------------------------------------------ */
  /* ------------------------------------------------------ */
  /* ------------------------------------------------------ */
  /* ------------------------------------------------------ */
  